requests
numpy
scipy
python-dateutil
pandas
sqlalchemy
PyMySQL
pytz
twilio==5.7.0
http://github.com/fact-project/smart_fact_crawler/archive/v0.6.1.tar.gz
custos==0.0.7
retrying
wrapt
python-json-logger
telepot
cachetools
