requests
numpy
scipy
matplotlib
python-dateutil
pandas
sqlalchemy
PyMySQL
pymongo
pytz
twilio
scikit-image
http://github.com/fact-project/smart_fact_crawler/archive/v0.2.1.tar.gz
http://github.com/fact-project/pycustos/archive/v0.0.2.tar.gz
retrying
wrapt
python-json-logger
telepot
